@-webkit-keyframes main {
  from {
    background-color: #001211;
  }
  to {
    background-color: #07566e;
  }
}

@keyframes main {
  from {
    background-color: #001211;
  }
  to {
    background-color: #07566e;
  }
}

@-webkit-keyframes s001-001 {
  0% {
    translate: 0 -200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 10px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}

@keyframes s001-001 {
  0% {
    translate: 0 -200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 10px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}

@-webkit-keyframes s001-002 {
  0% {
    translate: 0 200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 40px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}

@keyframes s001-002 {
  0% {
    translate: 0 200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 40px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}

@-webkit-keyframes s001 {
  0% {
    translate: 0;
  }
  50% {
    translate: -75px;
  }
  100% {
    translate: -150px;
  }
}

@keyframes s001 {
  0% {
    translate: 0;
  }
  50% {
    translate: -75px;
  }
  100% {
    translate: -150px;
  }
}

@-webkit-keyframes s002-001 {
  from {
    width: 100%;
  }
  to {
    width: 215%;
  }
}

@keyframes s002-001 {
  from {
    width: 100%;
  }
  to {
    width: 215%;
  }
}

@-webkit-keyframes s002-after {
  from {
    letter-spacing: -3.3rem;
  }
  to {
    letter-spacing: 0.4rem;
  }
}

@keyframes s002-after {
  from {
    letter-spacing: -3.3rem;
  }
  to {
    letter-spacing: 0.4rem;
  }
}

@-webkit-keyframes s002 {
  from {
    translate: 0;
  }
  to {
    translate: -83px;
  }
}

@keyframes s002 {
  from {
    translate: 0;
  }
  to {
    translate: -83px;
  }
}

@-webkit-keyframes s003 {
  from {
    letter-spacing: -3.3rem;
    right: 5.5rem;
  }
  to {
    letter-spacing: 0.15rem;
    right: -0.2rem;
  }
}

@keyframes s003 {
  from {
    letter-spacing: -3.3rem;
    right: 5.5rem;
  }
  to {
    letter-spacing: 0.15rem;
    right: -0.2rem;
  }
}

@-webkit-keyframes g001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -120px;
  }
}

@keyframes g001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -120px;
  }
}

@-webkit-keyframes s004 {
  from {
    translate: -50% 80%;
  }
  to {
    translate: -50% -50%;
  }
}

@keyframes s004 {
  from {
    translate: -50% 80%;
  }
  to {
    translate: -50% -50%;
  }
}

@-webkit-keyframes s004-color {
  0% {
    color: #ffff00;
  }
  33% {
    color: magenta;
  }
  66% {
    color: cyan;
  }
  100% {
    color: #043440;
    text-shadow: 0 -1.5px 0 white, 1.5px -1.5px 0 white, 1.5px 0 0 white, 1.5px 1.5px 0 white, 0 1.5px 0 white, -1.5px 1.5px 0 white, -1.5px 0 0 white, -1.5px -1.5px 0 white;
    mix-blend-mode: lighten;
  }
}

@keyframes s004-color {
  0% {
    color: #ffff00;
  }
  33% {
    color: magenta;
  }
  66% {
    color: cyan;
  }
  100% {
    color: #043440;
    text-shadow: 0 -1.5px 0 white, 1.5px -1.5px 0 white, 1.5px 0 0 white, 1.5px 1.5px 0 white, 0 1.5px 0 white, -1.5px 1.5px 0 white, -1.5px 0 0 white, -1.5px -1.5px 0 white;
    mix-blend-mode: lighten;
  }
}

@-webkit-keyframes s005-001 {
  0% {
    translate: 0 -100px;
  }
  25% {
    translate: 0 40px;
  }
  50% {
    translate: 0 -40px;
  }
  75% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@keyframes s005-001 {
  0% {
    translate: 0 -100px;
  }
  25% {
    translate: 0 40px;
  }
  50% {
    translate: 0 -40px;
  }
  75% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@-webkit-keyframes s005-002 {
  0% {
    translate: 0 -100px;
  }
  50% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@keyframes s005-002 {
  0% {
    translate: 0 -100px;
  }
  50% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@-webkit-keyframes s005-004 {
  0% {
    translate: 0 100px;
  }
  33% {
    translate: 0 -20px;
  }
  66% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@keyframes s005-004 {
  0% {
    translate: 0 100px;
  }
  33% {
    translate: 0 -20px;
  }
  66% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}

@-webkit-keyframes s005-005 {
  0% {
    translate: 0 -50px;
  }
  33% {
    translate: 0 10px;
  }
  66% {
    translate: 0 -10px;
  }
  100% {
    translate: 0 0px;
  }
}

@keyframes s005-005 {
  0% {
    translate: 0 -50px;
  }
  33% {
    translate: 0 10px;
  }
  66% {
    translate: 0 -10px;
  }
  100% {
    translate: 0 0px;
  }
}

@-webkit-keyframes s005 {
  from {
    translate: 0;
  }
  to {
    translate: 420px;
  }
}

@keyframes s005 {
  from {
    translate: 0;
  }
  to {
    translate: 420px;
  }
}

@-webkit-keyframes s006 {
  from {
    translate: 0;
  }
  to {
    translate: 42px;
  }
}

@keyframes s006 {
  from {
    translate: 0;
  }
  to {
    translate: 42px;
  }
}

@-webkit-keyframes s007-001 {
  from {
    translate: 0 120px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes s007-001 {
  from {
    translate: 0 120px;
  }
  to {
    translate: 0 0;
  }
}

@-webkit-keyframes g002 {
  from {
    scale: 1;
  }
  to {
    scale: 20;
  }
}

@keyframes g002 {
  from {
    scale: 1;
  }
  to {
    scale: 20;
  }
}

@-webkit-keyframes s008-001 {
  from {
    translate: 0 -3%;
  }
  to {
    translate: -400px -3%;
  }
}

@keyframes s008-001 {
  from {
    translate: 0 -3%;
  }
  to {
    translate: -400px -3%;
  }
}

@-webkit-keyframes s008-002 {
  from {
    translate: 0;
  }
  to {
    translate: -400px;
  }
}

@keyframes s008-002 {
  from {
    translate: 0;
  }
  to {
    translate: -400px;
  }
}

@-webkit-keyframes s009 {
  from {
    left: 235px;
  }
  to {
    left: 50px;
  }
}

@keyframes s009 {
  from {
    left: 235px;
  }
  to {
    left: 50px;
  }
}

@-webkit-keyframes s009-002 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes s009-002 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes s009-003 {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes s009-003 {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes s009-004 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes s009-004 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes s009-005 {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes s009-005 {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes s010-001 {
  from {
    left: -86.406px;
  }
  to {
    left: 7px;
  }
}

@keyframes s010-001 {
  from {
    left: -86.406px;
  }
  to {
    left: 7px;
  }
}

@-webkit-keyframes s011 {
  from {
    left: 400px;
  }
  to {
    left: -750px;
  }
}

@keyframes s011 {
  from {
    left: 400px;
  }
  to {
    left: -750px;
  }
}

@-webkit-keyframes s013 {
  from {
    left: -230px;
  }
  to {
    left: 152px;
  }
}

@keyframes s013 {
  from {
    left: -230px;
  }
  to {
    left: 152px;
  }
}

@-webkit-keyframes s016 {
  from {
    left: 281px;
    letter-spacing: -1.9rem;
  }
  to {
    left: 15px;
    letter-spacing: 16.4px;
  }
}

@keyframes s016 {
  from {
    left: 281px;
    letter-spacing: -1.9rem;
  }
  to {
    left: 15px;
    letter-spacing: 16.4px;
  }
}

@-webkit-keyframes s017-001-a {
  from {
    width: 8px;
    left: 196px;
  }
  to {
    width: 320px;
    left: 40px;
  }
}

@keyframes s017-001-a {
  from {
    width: 8px;
    left: 196px;
  }
  to {
    width: 320px;
    left: 40px;
  }
}

@-webkit-keyframes s017-001-b {
  from {
    top: 50px;
    height: 200px;
    border-width: 4px;
  }
  to {
    top: 16px;
    height: 268px;
    border-width: 16px;
  }
}

@keyframes s017-001-b {
  from {
    top: 50px;
    height: 200px;
    border-width: 4px;
  }
  to {
    top: 16px;
    height: 268px;
    border-width: 16px;
  }
}

@-webkit-keyframes s017-001-c {
  from {
    top: 16px;
    left: 40px;
    width: 320px;
    height: 268px;
    border-width: 16px;
  }
  to {
    top: 95px;
    left: 140px;
    width: 120px;
    height: 110px;
    border-width: 6px;
  }
}

@keyframes s017-001-c {
  from {
    top: 16px;
    left: 40px;
    width: 320px;
    height: 268px;
    border-width: 16px;
  }
  to {
    top: 95px;
    left: 140px;
    width: 120px;
    height: 110px;
    border-width: 6px;
  }
}

@-webkit-keyframes s018 {
  from {
    gap: 8rem;
    scale: 1;
  }
  to {
    gap: 3rem;
    scale: 0.33;
  }
}

@keyframes s018 {
  from {
    gap: 8rem;
    scale: 1;
  }
  to {
    gap: 3rem;
    scale: 0.33;
  }
}

@-webkit-keyframes s018-001 {
  from {
    translate: -330px;
  }
  to {
    translate: 0px;
  }
}

@keyframes s018-001 {
  from {
    translate: -330px;
  }
  to {
    translate: 0px;
  }
}

@-webkit-keyframes s018-002 {
  from {
    translate: 335px;
  }
  to {
    translate: 0px;
  }
}

@keyframes s018-002 {
  from {
    translate: 335px;
  }
  to {
    translate: 0px;
  }
}

@-webkit-keyframes g005 {
  from {
    translate: 0;
  }
  to {
    translate: -140px;
  }
}

@keyframes g005 {
  from {
    translate: 0;
  }
  to {
    translate: -140px;
  }
}

@-webkit-keyframes s019-001 {
  from {
    translate: -300px;
  }
  to {
    translate: -10px;
  }
}

@keyframes s019-001 {
  from {
    translate: -300px;
  }
  to {
    translate: -10px;
  }
}

@-webkit-keyframes g006 {
  from {
    top: 28%;
  }
  to {
    top: 0;
  }
}

@keyframes g006 {
  from {
    top: 28%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes s020 {
  from {
    translate: 43px;
  }
  to {
    translate: 0;
  }
}

@keyframes s020 {
  from {
    translate: 43px;
  }
  to {
    translate: 0;
  }
}

@-webkit-keyframes s020-001 {
  from {
    translate: -195px;
  }
  to {
    translate: 0;
  }
}

@keyframes s020-001 {
  from {
    translate: -195px;
  }
  to {
    translate: 0;
  }
}

@-webkit-keyframes s020-002 {
  from {
    translate: 0 220px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes s020-002 {
  from {
    translate: 0 220px;
  }
  to {
    translate: 0 0;
  }
}

@-webkit-keyframes s021-001 {
  from {
    translate: 0 -130px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes s021-001 {
  from {
    translate: 0 -130px;
  }
  to {
    translate: 0 0;
  }
}

@-webkit-keyframes s021-002 {
  from {
    translate: -130px;
  }
  to {
    translate: 0;
  }
}

@keyframes s021-002 {
  from {
    translate: -130px;
  }
  to {
    translate: 0;
  }
}

@-webkit-keyframes s021-003 {
  from {
    translate: 0 130px;
  }
  to {
    translate: 0 0;
  }
}

@keyframes s021-003 {
  from {
    translate: 0 130px;
  }
  to {
    translate: 0 0;
  }
}

@-webkit-keyframes s023 {
  from {
    letter-spacing: -2rem;
  }
  to {
    letter-spacing: 1rem;
  }
}

@keyframes s023 {
  from {
    letter-spacing: -2rem;
  }
  to {
    letter-spacing: 1rem;
  }
}

@-webkit-keyframes s023-erase-element {
  from {
    left: 50%;
  }
  to {
    left: 300%;
  }
}

@keyframes s023-erase-element {
  from {
    left: 50%;
  }
  to {
    left: 300%;
  }
}

@-webkit-keyframes s024 {
  from {
    letter-spacing: -1rem;
  }
  to {
    letter-spacing: 0;
  }
}

@keyframes s024 {
  from {
    letter-spacing: -1rem;
  }
  to {
    letter-spacing: 0;
  }
}

@-webkit-keyframes s024-up {
  from {
    top: 50%;
  }
  to {
    top: 23%;
  }
}

@keyframes s024-up {
  from {
    top: 50%;
  }
  to {
    top: 23%;
  }
}

@-webkit-keyframes s026 {
  from {
    top: 50%;
  }
  to {
    top: 74%;
  }
}

@keyframes s026 {
  from {
    top: 50%;
  }
  to {
    top: 74%;
  }
}

@-webkit-keyframes s026-001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -18rem;
  }
}

@keyframes s026-001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -18rem;
  }
}

@-webkit-keyframes s026-002 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -13.5rem;
  }
}

@keyframes s026-002 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -13.5rem;
  }
}

@-webkit-keyframes s027-p {
  from {
    scale: 1;
  }
  to {
    scale: 0.3;
  }
}

@keyframes s027-p {
  from {
    scale: 1;
  }
  to {
    scale: 0.3;
  }
}

@-webkit-keyframes s028 {
  from {
    left: 59.7%;
    letter-spacing: 4.9rem;
  }
  to {
    left: 29%;
    letter-spacing: 0;
  }
}

@keyframes s028 {
  from {
    left: 59.7%;
    letter-spacing: 4.9rem;
  }
  to {
    left: 29%;
    letter-spacing: 0;
  }
}

@-webkit-keyframes s029-color {
  from {
    color: white;
  }
  to {
    color: #07566e;
  }
}

@keyframes s029-color {
  from {
    color: white;
  }
  to {
    color: #07566e;
  }
}

@-webkit-keyframes s029-space {
  from {
    top: 25%;
    letter-spacing: -9.6rem;
  }
  to {
    top: 50%;
    letter-spacing: 0;
  }
}

@keyframes s029-space {
  from {
    top: 25%;
    letter-spacing: -9.6rem;
  }
  to {
    top: 50%;
    letter-spacing: 0;
  }
}
/*# sourceMappingURL=animation-move.css.map */