@import "./animation-common.scss";
@import "./animation-move.scss";

:root {
  font-size: 16px;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  line-height: 1;
  margin: 0;
  padding: 0;
}

main {
  width: 400px;
  height: 300px;
  background-color: #1c2a32;
  position: relative;
  overflow: hidden;
}

#s001,
#s002,
#s003 {
  position: absolute;
  font-size: 3.3rem;
}

// この
#s001 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &-001 {
    animation: s001-001 0.4s linear 0s 1 normal both;
  }

  &-002 {
    animation: s001-002 0.3s linear 0.1s 1 normal both;
  }

  animation: s001 0.7s cubic-bezier(0.84, -0.01, 0.19, 1) 0.4s 1 normal both;
}

// 混沌
#s002 {
  top: 140px;
  right: 80px;
  width: 3.3rem;
  height: 3.3rem;
  animation: s002 0.3s cubic-bezier(0.84, -0.01, 0.19, 1) 0.6s 1 normal both;

  &-001 {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: white;
    animation: opacity0-1 0.0001s linear 0.4s 1 normal both,
      s002-001 0.3s ease-in-out 0.45s 1 normal both;

    &::after {
      content: "混沌";
      display: block;
      position: absolute;
      color: #1c2a32;
      letter-spacing: -3.3rem;
      z-index: 2;
      width: 3em;
      top: 0.25rem;
      left: 0.4rem;
      animation: opacity0-1 0.0001s linear 0.4s 1 normal both,
        s002-after 0.3s ease-in-out 0.45s 1 normal both;
    }
  }
}

// とした
#s003 {
  top: 142px;
  right: 5.5rem;
  letter-spacing: -3.3rem;
  animation: opacity0-1 0.0001s linear 0.6s 1 normal both,
    s003 0.3s ease-in-out 0.65s 1 normal both;
}

// 「この混沌とした」
#g001 {
  height: 100%;
  width: 100%;
  animation: g001 0.4s ease-out 0.9s 1 normal both;
}

// 令和
#s004 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: max-content;
  color: #ffff00;
  font-size: 12rem;
  -webkit-text-stroke: 0px white;
  animation: s004 0.6s cubic-bezier(0, 0, 0.24, 1) 0.9s 1 normal both,
    s004-color 0.4s step-end 1.4s 1 normal both;
}

// filter: drop-shadow(0, 3px, 10px, black);
