@charset "UTF-8";
@-webkit-keyframes opacity0-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity0-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacity0-04 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes opacity0-04 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes scale05-1 {
  from {
    transform: translate(-50%, -55%) scale(0.5);
  }
  to {
    transform: translate(-50%, -55%) scale(1);
  }
}
@keyframes scale05-1 {
  from {
    transform: translate(-50%, -55%) scale(0.5);
  }
  to {
    transform: translate(-50%, -55%) scale(1);
  }
}
@-webkit-keyframes scale075-1 {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale075-1 {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes up {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes up {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes down {
  from {
    transform: translateY(50vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes down {
  from {
    transform: translateY(50vh);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes main {
  from {
    background-color: #001211;
  }
  to {
    background-color: #07566e;
  }
}
@keyframes main {
  from {
    background-color: #001211;
  }
  to {
    background-color: #07566e;
  }
}
@-webkit-keyframes s001-001 {
  0% {
    translate: 0 -200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 10px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}
@keyframes s001-001 {
  0% {
    translate: 0 -200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 20px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 10px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}
@-webkit-keyframes s001-002 {
  0% {
    translate: 0 200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 40px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}
@keyframes s001-002 {
  0% {
    translate: 0 200px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20% {
    translate: 0 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    translate: 0 40px;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
            animation-timing-function: cubic-bezier(0.35, 0.07, 0.14, 0.99);
  }
  100% {
    translate: 0 20px;
  }
}
@-webkit-keyframes s001 {
  0% {
    translate: 0;
  }
  50% {
    translate: -75px;
  }
  100% {
    translate: -150px;
  }
}
@keyframes s001 {
  0% {
    translate: 0;
  }
  50% {
    translate: -75px;
  }
  100% {
    translate: -150px;
  }
}
@-webkit-keyframes s002-001 {
  from {
    width: 100%;
  }
  to {
    width: 215%;
  }
}
@keyframes s002-001 {
  from {
    width: 100%;
  }
  to {
    width: 215%;
  }
}
@-webkit-keyframes s002-after {
  from {
    letter-spacing: -3.3rem;
  }
  to {
    letter-spacing: 0.4rem;
  }
}
@keyframes s002-after {
  from {
    letter-spacing: -3.3rem;
  }
  to {
    letter-spacing: 0.4rem;
  }
}
@-webkit-keyframes s002 {
  from {
    translate: 0;
  }
  to {
    translate: -83px;
  }
}
@keyframes s002 {
  from {
    translate: 0;
  }
  to {
    translate: -83px;
  }
}
@-webkit-keyframes s003 {
  from {
    letter-spacing: -3.3rem;
    right: 5.5rem;
  }
  to {
    letter-spacing: 0.15rem;
    right: -0.2rem;
  }
}
@keyframes s003 {
  from {
    letter-spacing: -3.3rem;
    right: 5.5rem;
  }
  to {
    letter-spacing: 0.15rem;
    right: -0.2rem;
  }
}
@-webkit-keyframes g001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -120px;
  }
}
@keyframes g001 {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -120px;
  }
}
@-webkit-keyframes s004 {
  from {
    translate: -50% 80%;
  }
  to {
    translate: -50% -50%;
  }
}
@keyframes s004 {
  from {
    translate: -50% 80%;
  }
  to {
    translate: -50% -50%;
  }
}
@-webkit-keyframes s004-color {
  0% {
    color: #ffff00;
  }
  33% {
    color: magenta;
  }
  66% {
    color: cyan;
  }
  100% {
    color: transparent;
    text-stroke: 2px white;
    -webkit-text-stroke: 2px white;
  }
}
@keyframes s004-color {
  0% {
    color: #ffff00;
  }
  33% {
    color: magenta;
  }
  66% {
    color: cyan;
  }
  100% {
    color: transparent;
    text-stroke: 2px white;
    -webkit-text-stroke: 2px white;
  }
}
@-webkit-keyframes s005-001 {
  0% {
    translate: 0 -100px;
  }
  25% {
    translate: 0 40px;
  }
  50% {
    translate: 0 -40px;
  }
  75% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@keyframes s005-001 {
  0% {
    translate: 0 -100px;
  }
  25% {
    translate: 0 40px;
  }
  50% {
    translate: 0 -40px;
  }
  75% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@-webkit-keyframes s005-002 {
  0% {
    translate: 0 -100px;
  }
  50% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@keyframes s005-002 {
  0% {
    translate: 0 -100px;
  }
  50% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@-webkit-keyframes s005-004 {
  0% {
    translate: 0 100px;
  }
  33% {
    translate: 0 -20px;
  }
  66% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@keyframes s005-004 {
  0% {
    translate: 0 100px;
  }
  33% {
    translate: 0 -20px;
  }
  66% {
    translate: 0 20px;
  }
  100% {
    translate: 0 0px;
  }
}
@-webkit-keyframes s005-005 {
  0% {
    translate: 0 -50px;
  }
  33% {
    translate: 0 10px;
  }
  66% {
    translate: 0 -10px;
  }
  100% {
    translate: 0 0px;
  }
}
@keyframes s005-005 {
  0% {
    translate: 0 -50px;
  }
  33% {
    translate: 0 10px;
  }
  66% {
    translate: 0 -10px;
  }
  100% {
    translate: 0 0px;
  }
}
@-webkit-keyframes s005 {
  from {
    translate: 0;
  }
  to {
    translate: 420px;
  }
}
@keyframes s005 {
  from {
    translate: 0;
  }
  to {
    translate: 420px;
  }
}
@-webkit-keyframes s006 {
  from {
    translate: 0;
  }
  to {
    translate: 42px;
  }
}
@keyframes s006 {
  from {
    translate: 0;
  }
  to {
    translate: 42px;
  }
}
@-webkit-keyframes s007-001 {
  from {
    translate: 0 120px;
  }
  to {
    translate: 0 0;
  }
}
@keyframes s007-001 {
  from {
    translate: 0 120px;
  }
  to {
    translate: 0 0;
  }
}
@-webkit-keyframes g002 {
  from {
    scale: 1;
  }
  to {
    scale: 20;
  }
}
@keyframes g002 {
  from {
    scale: 1;
  }
  to {
    scale: 20;
  }
}
@-webkit-keyframes s008-001 {
  from {
    translate: 0 -3%;
  }
  to {
    translate: -400px -3%;
  }
}
@keyframes s008-001 {
  from {
    translate: 0 -3%;
  }
  to {
    translate: -400px -3%;
  }
}
@-webkit-keyframes s008-002 {
  from {
    translate: 0;
  }
  to {
    translate: -400px;
  }
}
@keyframes s008-002 {
  from {
    translate: 0;
  }
  to {
    translate: -400px;
  }
}
@-webkit-keyframes s009 {
  from {
    left: 235px;
  }
  to {
    left: 50px;
  }
}
@keyframes s009 {
  from {
    left: 235px;
  }
  to {
    left: 50px;
  }
}
@-webkit-keyframes s009-002 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes s009-002 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes s009-003 {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes s009-003 {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes s009-004 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes s009-004 {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes s009-005 {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes s009-005 {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes s010-001 {
  from {
    left: -86.406px;
  }
  to {
    left: 7px;
  }
}
@keyframes s010-001 {
  from {
    left: -86.406px;
  }
  to {
    left: 7px;
  }
}
@-webkit-keyframes s011 {
  from {
    left: 400px;
  }
  to {
    left: -750px;
  }
}
@keyframes s011 {
  from {
    left: 400px;
  }
  to {
    left: -750px;
  }
}
@-webkit-keyframes s013 {
  from {
    left: -230px;
  }
  to {
    left: 152px;
  }
}
@keyframes s013 {
  from {
    left: -230px;
  }
  to {
    left: 152px;
  }
}
@-webkit-keyframes s016 {
  from {
    left: 281px;
    letter-spacing: -1.9rem;
  }
  to {
    left: 15px;
    letter-spacing: 16.4px;
  }
}
@keyframes s016 {
  from {
    left: 281px;
    letter-spacing: -1.9rem;
  }
  to {
    left: 15px;
    letter-spacing: 16.4px;
  }
}
:root {
  font-size: 16px;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  line-height: 1;
  margin: 0;
  padding: 0;
}

main {
  width: 400px;
  height: 300px;
  background-color: #001211;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 100px black, inset 0 0 10px black;
  -webkit-animation: main 6.12s linear 0s 1 normal both;
          animation: main 6.12s linear 0s 1 normal both;
}

#s001,
#s002,
#s003 {
  position: absolute;
  font-size: 3.3rem;
}

#s001 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  -webkit-animation: s001 0.28s cubic-bezier(0.84, -0.01, 0.19, 1) 0.68s 1 normal both;
          animation: s001 0.28s cubic-bezier(0.84, -0.01, 0.19, 1) 0.68s 1 normal both;
}
#s001-001 {
  -webkit-animation: opacity0-1 0.0001s linear 0.34s 1 normal both, s001-001 0.3s linear 0.34s 1 normal both;
          animation: opacity0-1 0.0001s linear 0.34s 1 normal both, s001-001 0.3s linear 0.34s 1 normal both;
}
#s001-002 {
  -webkit-animation: opacity0-1 0.0001s linear 0.28s 1 normal both, s001-002 0.36s linear 0.28s 1 normal both;
          animation: opacity0-1 0.0001s linear 0.28s 1 normal both, s001-002 0.36s linear 0.28s 1 normal both;
}

#s002 {
  top: 140px;
  right: 80px;
  width: 3.3rem;
  height: 3.3rem;
  -webkit-animation: s002 0.12s cubic-bezier(0.84, -0.01, 0.19, 1) 0.86s 1 normal both;
          animation: s002 0.12s cubic-bezier(0.84, -0.01, 0.19, 1) 0.86s 1 normal both;
}
#s002-001 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 0.4rem;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: white;
  -webkit-animation: opacity0-1 0.0001s linear 0.68s 1 normal both, s002-001 0.16s ease-in-out 0.68s 1 normal both;
          animation: opacity0-1 0.0001s linear 0.68s 1 normal both, s002-001 0.16s ease-in-out 0.68s 1 normal both;
}
#s002-001::after {
  content: "混沌";
  display: block;
  position: absolute;
  color: #1c2a32;
  letter-spacing: -3.3rem;
  z-index: 2;
  width: 3em;
  top: 0.25rem;
  left: 0.4rem;
  -webkit-animation: opacity0-1 0.0001s linear 0.68s 1 normal both, s002-after 0.16s ease-in-out 0.68s 1 normal both;
          animation: opacity0-1 0.0001s linear 0.68s 1 normal both, s002-after 0.16s ease-in-out 0.68s 1 normal both;
}

#s003 {
  top: 142px;
  right: 5.5rem;
  letter-spacing: -3.3rem;
  -webkit-animation: opacity0-1 0.0001s linear 0.86s 1 normal both, s003 0.12s ease-in-out 0.86s 1 normal both;
          animation: opacity0-1 0.0001s linear 0.86s 1 normal both, s003 0.12s ease-in-out 0.86s 1 normal both;
}

#g001 {
  height: 100%;
  width: 100%;
  -webkit-animation: g001 0.36s ease-out 1.16s 1 normal both;
          animation: g001 0.36s ease-out 1.16s 1 normal both;
}

#s004 {
  position: absolute;
  left: 50%;
  top: 45%;
  translate: -50% -50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffff00;
  font-size: 12rem;
  -webkit-text-stroke: 0px white;
  -webkit-animation: s004 0.36s cubic-bezier(0, 0, 0.24, 1) 1.16s 1 normal both, s004-color 0.14s step-end 1.54s 1 normal both;
          animation: s004 0.36s cubic-bezier(0, 0, 0.24, 1) 1.16s 1 normal both, s004-color 0.14s step-end 1.54s 1 normal both;
}

#s005 {
  width: 102%;
  display: flex;
  position: absolute;
  font-size: 2.9rem;
  justify-content: space-between;
  bottom: 110px;
  left: -1%;
  -webkit-animation: opacity0-1 0.0001s linear 1.38s 1 normal both, s005 0.08s ease-out 1.62s 1 normal both;
          animation: opacity0-1 0.0001s linear 1.38s 1 normal both, s005 0.08s ease-out 1.62s 1 normal both;
}
#s005 > p:not(:first-child) {
  margin-left: -0.7rem;
}
#s005-001 {
  -webkit-animation: s005-001 0.22s linear 1.38s 1 normal both;
          animation: s005-001 0.22s linear 1.38s 1 normal both;
}
#s005-002, #s005-009 {
  -webkit-animation: s005-002 0.22s linear 1.38s 1 normal both;
          animation: s005-002 0.22s linear 1.38s 1 normal both;
}
#s005-003, #s005-008 {
  -webkit-animation: s005-002 0.22s linear 1.38s 1 normal both;
          animation: s005-002 0.22s linear 1.38s 1 normal both;
}
#s005-004, #s005-007 {
  -webkit-animation: s005-004 0.22s linear 1.38s 1 normal both;
          animation: s005-004 0.22s linear 1.38s 1 normal both;
}
#s005-005 {
  -webkit-animation: s005-005 0.22s linear 1.38s 1 normal both;
          animation: s005-005 0.22s linear 1.38s 1 normal both;
}
#s005-006 {
  -webkit-animation: s005-001 0.22s linear 1.38s 1 normal both;
          animation: s005-001 0.22s linear 1.38s 1 normal both;
}

#s006 {
  position: absolute;
  font-size: 0.8rem;
  top: 64%;
  left: 55%;
  -webkit-animation: opacity0-1 0.0001s linear 1.7s 1 normal both, s006 0.28s ease-out 1.7s 1 normal both;
          animation: opacity0-1 0.0001s linear 1.7s 1 normal both, s006 0.28s ease-out 1.7s 1 normal both;
}

#s007 {
  position: absolute;
  left: 2.5%;
  display: flex;
  width: 95%;
  justify-content: space-between;
  bottom: 27px;
  font-size: 2.5rem;
}
#s007-001 {
  -webkit-animation: s007-001 0.64s ease-out 2.14s 1 normal both;
          animation: s007-001 0.64s ease-out 2.14s 1 normal both;
}
#s007-002 {
  -webkit-animation: s007-001 0.64s ease-out 2.14s 1 normal both;
          animation: s007-001 0.64s ease-out 2.14s 1 normal both;
}
#s007-003 {
  -webkit-animation: s007-001 0.74s cubic-bezier(0, 0, 0.12, 0.99) 2.04s 1 normal both;
          animation: s007-001 0.74s cubic-bezier(0, 0, 0.12, 0.99) 2.04s 1 normal both;
}
#s007-004 {
  -webkit-animation: s007-001 0.78s cubic-bezier(0, 0, 0.12, 0.99) 2s 1 normal both;
          animation: s007-001 0.78s cubic-bezier(0, 0, 0.12, 0.99) 2s 1 normal both;
}
#s007-005 {
  -webkit-animation: s007-001 0.68s ease-out 2.1s 1 normal both;
          animation: s007-001 0.68s ease-out 2.1s 1 normal both;
}
#s007-006 {
  -webkit-animation: s007-001 0.7s cubic-bezier(0, 0, 0.12, 0.99) 2.08s 1 normal both;
          animation: s007-001 0.7s cubic-bezier(0, 0, 0.12, 0.99) 2.08s 1 normal both;
}

#g002 {
  height: 100%;
  width: 100%;
  -webkit-animation: g002 0.34s ease-in 2.8s 1 normal both;
          animation: g002 0.34s ease-in 2.8s 1 normal both;
}

#s008 {
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
  font-size: 15.5rem;
}
#s008-001, #s008-002 {
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
}
#s008-001 {
  translate: 0 -3%;
  text-stroke: 2px white;
  -webkit-text-stroke: 2px white;
  color: transparent;
  -webkit-animation: opacity0-1 0.0001s step-end 2.88s 1 normal both, scale05-1 0.92s cubic-bezier(0, 0, 0.39, 1) 2.88s 1 normal both, s008-001 0.2s cubic-bezier(0.76, 0.02, 1, 0.73) 3.88s 1 normal both;
          animation: opacity0-1 0.0001s step-end 2.88s 1 normal both, scale05-1 0.92s cubic-bezier(0, 0, 0.39, 1) 2.88s 1 normal both, s008-001 0.2s cubic-bezier(0.76, 0.02, 1, 0.73) 3.88s 1 normal both;
}
#s008-002 {
  opacity: 0.4;
  -webkit-animation: opacity0-04 0.0001s step-end 2.82s 1 normal both, scale05-1 0.98s cubic-bezier(0, 0, 0, 1) 2.82s 1 normal both, s008-002 0.14s cubic-bezier(0.76, 0.02, 1, 0.73) 3.86s 1 normal both;
          animation: opacity0-04 0.0001s step-end 2.82s 1 normal both, scale05-1 0.98s cubic-bezier(0, 0, 0, 1) 2.82s 1 normal both, s008-002 0.14s cubic-bezier(0.76, 0.02, 1, 0.73) 3.86s 1 normal both;
}

#s009-004, #s009-002 {
  width: 110px;
  border-top: 3px dashed white;
}

#s009-005, #s009-003 {
  height: 112px;
  border-left: 3px dashed white;
}

#s009 {
  position: absolute;
  top: 60px;
  left: 235px;
  -webkit-animation: opacity0-1 0.0001s step-end 3.98s 1 normal both, s009 0.26s ease-out 3.98s 1 normal both;
          animation: opacity0-1 0.0001s step-end 3.98s 1 normal both, s009 0.26s ease-out 3.98s 1 normal both;
}
#s009-001 {
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  line-height: 1.18;
}
#s009-002 {
  position: absolute;
  top: -12px;
  left: -15px;
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
  -webkit-animation: s009-002 0.82s ease-in-out 4.08s 1 normal both;
          animation: s009-002 0.82s ease-in-out 4.08s 1 normal both;
}
#s009-003 {
  position: absolute;
  top: -12px;
  right: -10px;
  -webkit-animation: s009-003 0.24s ease-in-out 4.08s 1 normal both;
          animation: s009-003 0.24s ease-in-out 4.08s 1 normal both;
}
#s009-004 {
  position: absolute;
  bottom: -18px;
  left: -15px;
  -webkit-animation: s009-004 0.04s ease-in-out 4.32s 1 normal both;
          animation: s009-004 0.04s ease-in-out 4.32s 1 normal both;
}
#s009-005 {
  position: absolute;
  top: -12px;
  left: -15px;
  -webkit-animation: s009-005 0.38s ease-in-out 4.36s 1 normal both;
          animation: s009-005 0.38s ease-in-out 4.36s 1 normal both;
}

#s010 {
  position: absolute;
  top: 61px;
  left: 159px;
  font-size: 1.8rem;
  width: 86.406px;
  height: 28.797px;
  padding-left: 7px;
  margin-left: -13px;
  overflow: hidden;
}
#s010-001 {
  position: absolute;
  left: -86.406px;
  -webkit-animation: s010-001 0.32s cubic-bezier(0, 0, 0, 1) 4.42s 1 normal both;
          animation: s010-001 0.32s cubic-bezier(0, 0, 0, 1) 4.42s 1 normal both;
}

#s011,
#s012 {
  font-family: "Archivo", sans-serif;
  position: absolute;
  font-size: 12.3rem;
  letter-spacing: -0.3rem;
  scale: 1 0.86;
}

#s011 {
  top: -52px;
  -webkit-animation: s011 0.3s cubic-bezier(0, 1, 1, 0) 4.78s 1 normal both;
          animation: s011 0.3s cubic-bezier(0, 1, 1, 0) 4.78s 1 normal both;
}

#s012 {
  bottom: -52px;
  animation: s011 0.3s cubic-bezier(0, 1, 1, 0) 4.78s 1 reverse both;
}

#s013 {
  position: absolute;
  top: 96px;
  left: 152px;
  font-size: 4.2rem;
  letter-spacing: -0.1rem;
  -webkit-animation: s013 0.3s cubic-bezier(0.3, 0, 0.06, 1) 5.04s 1 normal both;
          animation: s013 0.3s cubic-bezier(0.3, 0, 0.06, 1) 5.04s 1 normal both;
}
#s013 span {
  font-size: 2.1rem;
}

#s014 {
  position: absolute;
  display: flex;
  top: 35px;
  left: 0;
  gap: 1.6rem;
  font-size: 12.1rem;
  animation: opacity0-1 0.0001s step-end 5.38s 1 reverse both;
}
#s014-001, #s014-002 {
  -webkit-animation: opacity0-1 0.1s step-start 5.24s 1 normal both, scale075-1 0.14s ease 5.24s 1 normal both;
          animation: opacity0-1 0.1s step-start 5.24s 1 normal both, scale075-1 0.14s ease 5.24s 1 normal both;
}

#s015 {
  position: absolute;
  display: flex;
  top: 35px;
  left: 0;
  gap: 1.6rem;
  font-size: 12.1rem;
  animation: opacity0-1 0.0001s step-end 5.44s 1 reverse both;
}
#s015-001, #s015-002 {
  -webkit-animation: opacity0-1 0.1s step-start 5.38s 1 normal both;
          animation: opacity0-1 0.1s step-start 5.38s 1 normal both;
  text-stroke: 2px white;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

#s016 {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 118px;
  left: 281px;
  font-size: 7.3rem;
  text-stroke: 1.5px white;
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  letter-spacing: -1.9rem;
  -webkit-animation: opacity0-1 1s step-start 5.44s 1 normal both, s016 0.28s ease-out 5.44s 1 normal both;
          animation: opacity0-1 1s step-start 5.44s 1 normal both, s016 0.28s ease-out 5.44s 1 normal both;
}

#g004 {
  animation: opacity0-1 0.0001s step-end 6.12s 1 reverse both;
}/*# sourceMappingURL=style.css.map */