@import "./animation-common.scss";
@import "./animation-move.scss";

:root {
  font-size: 16px;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  line-height: 1;
  margin: 0;
  padding: 0;
}

main {
  width: 400px;
  height: 300px;
  background-color: #1c2a32;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 100px black;
}

#s001,
#s002,
#s003 {
  position: absolute;
  font-size: 3.3rem;
}

// この
#s001 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &-001 {
    animation: opacity0-1 0.0001s linear 0.34s 1 normal both,
      s001-001 0.3s linear 0.34s 1 normal both;
  }

  &-002 {
    animation: opacity0-1 0.0001s linear 0.28s 1 normal both,
      s001-002 0.36s linear 0.28s 1 normal both;
  }

  animation: s001 0.28s cubic-bezier(0.84, -0.01, 0.19, 1) 0.68s 1 normal both;
}

// 混沌
#s002 {
  top: 140px;
  right: 80px;
  width: 3.3rem;
  height: 3.3rem;
  animation: s002 0.12s cubic-bezier(0.84, -0.01, 0.19, 1) 0.86s 1 normal both;

  &-001 {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: white;
    animation: opacity0-1 0.0001s linear 0.68s 1 normal both,
      s002-001 0.16s ease-in-out 0.68s 1 normal both;

    &::after {
      content: "混沌";
      display: block;
      position: absolute;
      color: #1c2a32;
      letter-spacing: -3.3rem;
      z-index: 2;
      width: 3em;
      top: 0.25rem;
      left: 0.4rem;
      animation: opacity0-1 0.0001s linear 0.68s 1 normal both,
        s002-after 0.16s ease-in-out 0.68s 1 normal both;
    }
  }
}

// とした
#s003 {
  top: 142px;
  right: 5.5rem;
  letter-spacing: -3.3rem;
  animation: opacity0-1 0.0001s linear 0.86s 1 normal both,
    s003 0.12s ease-in-out 0.86s 1 normal both;
}

// 「この混沌とした」
#g001 {
  height: 100%;
  width: 100%;
  animation: g001 0.36s ease-out 1.16s 1 normal both;
}

// 令和
#s004 {
  position: absolute;
  left: 50%;
  top: 45%;
  translate: -50% -50%;
  width: max-content;
  color: #ffff00;
  font-size: 12rem;
  -webkit-text-stroke: 0px white;
  animation: s004 0.36s cubic-bezier(0, 0, 0.24, 1) 1.16s 1 normal both,
    s004-color 0.14s step-end 1.54s 1 normal both;
}

// のインターネットを
#s005 {
  width: 102%;
  display: flex;
  position: absolute;
  font-size: 2.9rem;
  justify-content: space-between;
  bottom: 110px;
  left: -1%;
  animation: opacity0-1 0.0001s linear 1.38s 1 normal both,
    s005 0.08s ease-out 1.62s 1 normal both;

  > p:not(:first-child) {
    margin-left: -0.7rem;
  }

  &-001 {
    animation: s005-001 0.22s linear 1.38s 1 normal both;
  }
  &-002,
  &-009 {
    animation: s005-002 0.22s linear 1.38s 1 normal both;
  }
  &-003,
  &-008 {
    animation: s005-002 0.22s linear 1.38s 1 normal both;
  }
  &-004,
  &-007 {
    animation: s005-004 0.22s linear 1.38s 1 normal both;
  }
  &-005 {
    animation: s005-005 0.22s linear 1.38s 1 normal both;
  }
  &-006 {
    animation: s005-001 0.22s linear 1.38s 1 normal both;
  }
}

// のインターネットを2
#s006 {
  position: absolute;
  font-size: 0.8rem;
  top: 64%;
  left: 55%;
  animation: opacity0-1 0.0001s linear 1.7s 1 normal both,
    s006 0.28s ease-out 1.7s 1 normal both;
}

// 照らす一筋の
#s007 {
  position: absolute;
  left: 2.5%;
  display: flex;
  width: 95%;
  justify-content: space-between;
  bottom: 27px;
  font-size: 2.5rem;

  &-001 {
    animation: s007-001 0.64s ease-out 2.14s 1 normal both;
  }
  &-002 {
    animation: s007-001 0.64s ease-out 2.14s 1 normal both;
  }
  &-003 {
    animation: s007-001 0.74s cubic-bezier(0, 0, 0.12, 0.99) 2.04s 1 normal both;
  }
  &-004 {
    animation: s007-001 0.78s cubic-bezier(0, 0, 0.12, 0.99) 2s 1 normal both;
  }
  &-005 {
    animation: s007-001 0.68s ease-out 2.1s 1 normal both;
  }
  &-006 {
    animation: s007-001 0.7s cubic-bezier(0, 0, 0.12, 0.99) 2.08s 1 normal both;
  }
}

// 〜一筋の
#g002 {
  height: 100%;
  width: 100%;
  animation: g002 0.34s ease-in 2.8s 1 normal both;
}

// 光
#s008 {
  position: absolute;
  transform: translate(-50%, -55%);
  top: 50%;
  left: 50%;
  font-size: 15.5rem;

  &-001,
  &-002 {
    position: absolute;
    transform: translate(-50%, -55%);
    top: 50%;
    left: 50%;
  }

  &-001 {
    translate: 0 -3%;
    text-stroke: 2px white;
    -webkit-text-stroke: 2px white;
    color: transparent;
    animation: opacity0-1 0.0001s step-end 2.88s 1 normal both,
      scale05-1 0.92s cubic-bezier(0, 0, 0.39, 1) 2.88s 1 normal both,
      s008-001 0.2s cubic-bezier(0.76, 0.02, 1, 0.73) 3.88s 1 normal both;
  }

  &-002 {
    opacity: 0.4;
    animation: opacity0-04 0.0001s step-end 2.82s 1 normal both,
      scale05-1 0.98s cubic-bezier(0, 0, 0, 1) 2.82s 1 normal both,
      s008-002 0.14s cubic-bezier(0.76, 0.02, 1, 0.73) 3.86s 1 normal both;
  }
}

// 電子の海

%dashedline-horizontal {
  width: 110px;
  border-top: 3px dashed white;
}

%dashedline-vertical {
  height: 118px;
  border-left: 3px dashed white;
}

#s009 {
  position: absolute;
  top: 60px;
  left: 235px;
  animation: opacity0-1 0.0001s step-end 3.98s 1 normal both,
    s009 0.26s ease-out 3.98s 1 normal both;

  &-001 {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    line-height: 1.18;
  }

  &-002 {
    @extend %dashedline-horizontal;
    position: absolute;
    top: -15px;
    left: -15px;
    clip-path: inset(0 0 0 100%);
    animation: s009-002 0.82s ease-in-out 4.08s 1 normal both;
  }

  &-003 {
    @extend %dashedline-vertical;
    position: absolute;
    top: -15px;
    right: -10px;
    animation: s009-003 0.24s ease-in-out 4.08s 1 normal both;
  }

  &-004 {
    @extend %dashedline-horizontal;
    position: absolute;
    bottom: -20px;
    left: -15px;
    animation: s009-004 0.04s ease-in-out 4.32s 1 normal both;
  }

  &-005 {
    @extend %dashedline-vertical;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: s009-005 0.38s ease-in-out 4.36s 1 normal both;
  }
}

// filter: drop-shadow(0, 3px, 10px, black);
